body, a{
    font-size: large;
}
li{
    list-style-type:none;
    margin:0 0 10px 0;
    padding: 0px;
}
a{
    display:block;
    border-left:12px solid rgba(242, 93, 17, 0.91);
    margin: 0px;
}
a:link{
    color:rgba(242, 93, 17, 0.91);
    text-decoration:none;
    font-family:arial;
}
a:visited{
    color:rgba(242, 93, 17, 0.91);
}

.button_top{
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;

    padding:3px 30px 3px 30px;
}
.button_top:hover{
    color:#fff;
    background-color:rgba(242, 93, 17, 0.91);
}