<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:component-scan base-package="action.."/>
    <context:component-scan base-package="dao.."/> 
    <context:component-scan base-package="db.."/> 
    <context:component-scan base-package="intercepter.."/>
    <context:component-scan base-package="tools.."/> 
    <context:component-scan base-package="model.."/> 
	<bean id="date" class="java.util.Date"></bean>
	<!-- 配置数据源dataSource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">  
    	<property name="driverClass" value="com.mysql.jdbc.Driver" />  
    	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mszh" />  
    	<property name="user" value="root" />  
    	<property name="password" value="2113" />   
	</bean>
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">  
    	<property name="dataSource" ref="dataSource" />  
    	<property name="configLocation" value="classpath:hibernate.cfg.xml" /> <!-- 加载hibernate配置文件 -->  
	</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">  
    	<property name="sessionFactory" ref="sessionFactory" />  
	</bean>  
 	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- 配置通知 -->
	<tx:advice id="advice" transaction-manager="transactionManager">  
    	<tx:attributes>  
        	<tx:method name="save*" propagation="REQUIRED"/>  
        	<tx:method name="update*" propagation="REQUIRED"/>  
        	<tx:method name="delete*" propagation="REQUIRED"/>
        	<tx:method name="get*" propagation="REQUIRED" />  
        	<tx:method name="*" propagation="SUPPORTS"/>
    	</tx:attributes>  
	</tx:advice>  
	<!-- 配置AOP切面 -->
	<aop:config>  
    	<!-- 配置哪些包的类要切入事务 -->
    	<aop:pointcut id="pointcut" expression="execution(* db.impl.*.*(..))" />
    	<aop:advisor advice-ref="advice" pointcut-ref="pointcut"/><!-- 连接了上面的advice和上面的pointcut -->  
    	<!-- aop:pointcut要写在aop:advisor上面，否则会报错 -->  
 	</aop:config> 
	
      
	
</beans>